@import "tailwindcss";

/*ESTILOS GLOBALES GENERALES*/

html {
  scroll-behavior: smooth;
}

/* ESTILOS PARA EL NAV */

.enlacesMenu {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
}

.enlacesMenu:hover {
  background-color: #0081b0;
  text-decoration: underline;
}
